<div class="hero-unit">

</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="home--desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste repellat perspiciatis repudiandae, odit a non sunt autem, dolore voluptas nam inventore harum modi id quae eius necessitatibus rerum veritatis eaque nostrum natus eligendi beatae? Nam
      nobis ducimus sapiente praesentium dolorum officiis ex corporis aspernatur, nostrum doloremque. Tenetur iste numquam magnam, ea illo, tempore inventore. Quod, fugit dolorum est quo adipisci perspiciatis vero ex amet recusandae ea distinctio nemo
      aliquid sunt illum iste, ad, repellendus deleniti magnam quis iusto, harum itaque ipsum suscipit! Eveniet inventore sit accusantium, modi illo necessitatibus. Quidem doloremque dolor ut officia, consequuntur, esse eos provident rerum vitae qui porro
      quaerat, voluptatem dolores quisquam amet aspernatur numquam deleniti placeat soluta iste tempore.

    </div>
    <div class="button">
      <div class="btn btn-primary" ui-sref="dashboard">Enter</div>
    </div>
  </div>
</div>